# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
*.sqlite3
*.db
.pytest_cache/

# Node
node_modules/
.next/
out/
build/
dist/

# Env & Secrets
.env
.env.local
*.pem

# IDE & OS
.DS_Store
.vscode/
.idea/
